* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Style for header */
header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Style for navigation */
nav {
  background-color: #4caf50;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* main */

/* Style for book container */
.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* Style for book cards */
.book {
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

.book img {
  width: 100%;
  height: 100px;
}

img {
  width: 100%;
  height: 100px;
}

.book-info {
  text-align: center;
}

.book-info p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.book-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.details-button,
.update-button,
.delete-button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.delete-button {
  background-color: #f44336;
}

.update-button,
.details-button {
  background-color: #4caf50;
}

.delete-button:hover,
.update-button:hover,
,
.details-button:hover {
  opacity: 0.8;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  nav {
    overflow: auto;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav li {
    width: 100%;
  }
  .book-container {
    justify-content: center;
  }
}
